<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <span class="navbar-brand">Sistema de Tickets</span>

        <div>
            {% if user.is_authenticated %}
                <a href="/mis-tickets/" class="btn btn-outline-light me-2">Mis Tickets</a>
                <a href="/logout/" class="btn btn-danger">Cerrar sesión</a>
            {% else %}
                <a href="/login/" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </div>
</nav>